# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# Data Analysis Scripts
!/data_analysis/
/data_analysis/*
!/data_analysis/graph_beta_values.py
!/data_analysis/graph_xcom_values.py

# Parameter Convergence Scripts
!/param_converge/
/param_converge/*

# gen_phi_matrix
!/param_converge/gen_phi_matrix.hpp
!/param_converge/gen_phi_matrix.cpp

# file_ops
!/param_converge/file_ops.hpp
!/param_converge/file_ops.cpp

# train_beta
!/param_converge/train_beta/
/param_converge/train_beta/*
!/param_converge/train_beta/train_beta.cpp
!/param_converge/train_beta/CMakeLists.txt

# filter_training_set
!/param_converge/filter_training_set/
/param_converge/filter_training_set/*
!/param_converge/filter_training_set/filter_training_set.cpp
!/param_converge/filter_training_set/CMakeLists.txt

# test_beta
!/param_converge/test_beta/
/param_converge/test_beta/*
!/param_converge/test_beta/test_beta.cpp
!/param_converge/test_beta/CMakeLists.txt

# Datasets
!/param_converge/train_beta/randomOptPoses10000.txt

!/param_converge/test_beta/randomOptPoses10000.txt
