# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# Data Analysis Scripts
!graph_beta_values.py

# converge_beta
!/converge_beta/
/converge_beta/*
!/converge_beta/converge_beta.cpp
!/converge_beta/CMakeLists.txt
